*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Cairo', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Clicker Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quintessential', cursive;
    background-image:url(../images/white.jpg) ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
body.dark { 
    background:url("../images/black\ \(1\).jpg") no-repeat;
background-position: center;
background-size: cover;

}
.calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,60px);
    min-height: 400px;
    width: 290px;
    grid-template-rows: minmax(105px,auto) repeat(5,60px);
    gap: 10px;
    position: relative;
    padding: 7rem 0 2.5rem;
    box-shadow: 0 0 6px 0 #00000038;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border-radius: 1rem;
    margin:3rem auto;
}
body.dark .calculator { 
    background-color: transparent;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25),
    -15px -15px 20px rgba(255,255,255,0.1)
}
.sun,.night{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: #474b4d;
    font-size: 2rem;
    display: none;
}
.active{
    display: block;
}
.sun{
    color: #ffc107;
}
ul{
    position: absolute;
    left: 1rem;
    display: flex;
    padding: 0;
    top: .5rem;
}
ul li{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right:  0.5rem; ;
    cursor: pointer;
}
ul li.red{
    background-color: red;
}
ul li.blue{
    background-color: #673ab7;
}ul li.green{
    background-color: #07bf0e;
}
ul li.active{
    border: 4px solid #fff;

}
.output{
    grid-column: 1 / 5;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 1rem;
    box-shadow: inset -6px -6px 13px #fff,inset 6px 6px 13px rgba(0,0,0,.16);
    color: rgb(26,25,25);
    font-size: 2rem;
    border-radius: 20px;
    margin-bottom: 0.5rem;
    word-break: break-all;

}
body.dark .output {
    box-shadow: inset 15px 15px 20px rgba(0, 0, 0, 0.5),
    inset -15px -15px 20px rgba(255,255,255, .1);
    color: white;

}
.previous-operation,
.current-operation { 
    font-family: 'Cairo', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Clicker Script', cursive;
    font-family: 'Lobster', cursive;
    font-weight: bold;
}
.previous-operation { 
    color: #787777;
    font-size: 1rem;
}
body.dark .previous-operation { 
    color: #c7c3c3;
}
.current-operation { 
    font-size: 2rem;
   
}
body.dark .current-operation { 
    color: #fff;
}
.calculator > button{
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    background-color: rgba(255,255,255, .75);
    box-shadow: inset 6px 6px 13px #fff,6px 6px 13px rgba(0,0,0,.16);
    font-weight: bold;
color: #673ab7;
transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
transform: rotate(0);



}
body.dark .calculator > button { 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
     -5px -5px 10px rgba(255,255,255, 0.1);
     background-color: transparent;
     transform: rotate(360deg);

}
body.dark .calculator > button:hover { 
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25),
   inset  -5px -5px 10px rgba(255,255,255, 0.1);

}

.calculator > button:hover { 
    background-color: white;
    box-shadow: inset -6px -6px 13px #fff, inset 6px 6px 13px rgb(0 0 0 / 16%);
}
button.two{
    grid-column: span 2;
    border-radius: 2rem;
}
button.cairo{
    font-family: 'Cairo' , sans-serif;
}
.calculator [data-delete]{
    font-size: 1.5rem;
}

.copyright{
    margin: 20px auto;
    width: 500px;
    text-align: center;
}
.copyright a{
    font-size: 22px;
    font-weight: bold;
    
}
.copyright a:hover{
    color: red;
    transition: .5s;
    
}
body.dark .copyright{
    color: white;
}